#skrollr-body{width:100%}
body{background:#f1f8ff}
header{position:fixed;background:black;height:3.5rem;width:100%;z-index:3;opacity:0.7;}
.menu-trigger,
.menu-trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}
.menu-trigger {
	position: relative;
	width:1.45rem;
    height:1.15rem;
    top:1rem;
    left:1.5rem
}
.menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
    background-color: white;
    cursor:pointer;
}
.menu-trigger span:nth-of-type(1) {
	top: 0;
}
.menu-trigger span:nth-of-type(2) {
	top:7.2px;
}
.menu-trigger span:nth-of-type(3) {
	bottom:0;
}
/* 햄버거 메뉴 */
#mask,#mask_chap1,#mask_chap7 {  
	position:absolute;  
	left:0;
	top:0;
	z-index:900;  
	background-color:#000;  
}
.nav{position:fixed;z-index:10000;overflow:hidden;top:0;left:-60%;background:#f1f8ff;width:60%;height:100vh;-webkit-transition:transform ease-out 0.8s;transition:transform ease-out 0.8s}
.btn_close{position:absolute;top:1rem;right:1rem;z-index:1;cursor: pointer;}
.btn_close img{width:70%}
.lnb_menu{text-align:left;box-sizing:content-box;margin-top:64px;padding-left:1.5rem}
.btn_tit{font-size:1.7rem;color:#222;}
/*.btn_tit.on,.btn_tit:hover{color:#1fd9de;}*/
.tit_wrap{margin-top:1.5rem;}
.tit_wrap:first-child{margin-top:0px;}
.list_menu{margin-top:1rem;margin-left:1rem}
.list_menu li{line-height:2.5rem;font-size:1.2rem;}
.list_menu li a{color:#666;}
.list_menu .btn_txt{position: relative;display: block;}
.underline {
	background-image: linear-gradient(transparent calc(100% - 2px), #1fd9de 2px);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	transition: background-size 1s;
	background-position:left 0 top -5px;
}
.underline:nth-child(1){width:70px;}
.underline:nth-child(2),.underline:nth-child(3){width:55px;}
.underline:nth-child(4),.underline:nth-child(5){width:35px;}
/*.underline.on {
	background-size: 100% 100%;
	color:#222;
	display: block;
}*/
.community{background:url(../images/bg_comunity.png) left top 7px no-repeat;font-size:1.2rem;}
.community a{color:#17191b;padding-left:1.5rem;}
.community a img{vertical-align:middle;margin-left:10px;margin-top:-2px}
.chapter{position:relative;}
/* chapter1 */
.chapter1{height:100vh;width:100%;}
.chapter1_logo,.chapter1_tit1,.chapter1_tit_sub,.chap1_video_sub,.chap1_detail{position: absolute;z-index:2;width:100%;}
.chapter1_logo{height:7.85rem;background:url('../images/bg_logo.png') center top no-repeat;top:5rem;background-size:contain;}
.chapter1_tit1{height:4.65rem;background:url('../images/img_chapter1_tit1.png') center top no-repeat;top:14.5rem;background-size:contain;}
.chap1_video video{object-fit:cover;width:100%;height:100vh;}
.chap1_video::after{background:black;content:'';position: absolute;top:0;left:0;width:100%;height:100vh;opacity:.6;z-index:1}
.chapter1_tit_sub{color:white;top:21.75rem;text-align:center;}
.chapter1_tit_sub p{line-height:1.75rem}
.chapter1_tit_sub p span{font-weight:bold;}
.chap1_video_sub{height:5rem;background:url('../images/btn_chap1_video_sub.png') center top no-repeat;background-size:contain;top:29.5rem}
.chap1_detail{height:8.25rem;background:url('../images/btn_chap1_detail.png') center top no-repeat;background-size:contain;top:34.5rem}
.chap1_video_sub_show{width:80%;position: absolute;z-index:9999;display:none;}
.chap1_video_sub_show div{float:right;cursor: pointer;margin-bottom:10px;transition: all ease 1s;}
.chap1_video_sub_show div img{width:70%}
/* chapter1 */
/* chapter2 */
.chap2_visual{background:url('../images/bg_chap2.png') no-repeat;width:100%;background-size:contain}
.chap2_visual .chap2_tit{width:70vw;margin:0 auto;text-align:center;padding-top:5rem;}
.chap2_visual .chap2_tit img{width:100%}
.chap2_visual .chap2_video{width:calc(100% - 3rem);margin:2.5rem auto 0 auto;z-index:2;position: relative;padding:0 1.5rem}
.chap2_visual .chap2_sub_video_btn{position: absolute;z-index:3;top:1rem;right:2rem}

.chap2_content{width:100%;overflow: hidden;margin-top:3.5rem}
.chap2_content:after{content:'';position: relative;z-index:1}
.chap2_content_c{background:url('../images/bg_chap2_content_top.png') center top no-repeat;width:100%;background-size:contain;height:38.3rem}
.chap2_story1,.chap2_story2{padding:0 1.5rem;color:#222;font-size:1.4rem;line-height:1.4rem}
.chap2_story2{padding-bottom:3rem}
.chap2_story1 p:last-child{margin-top:1rem}
.chap2_bg{width:100%;margin-top:2rem}
.chap2_bg div:first-child img{width:100%}
/* chapter2 */
/* chapter3 */
.chapter3{position: relative;width:calc(100% - 3rem);padding:3rem 1.5rem 0 1.5rem}
.chapter3_tit{position: relative;padding:1.5rem 0 4rem 0}
.chapter3_tit h2{position: absolute;left:0;font-size:1.7rem;color:#00dce2;font-family:'Poppins' !important;font-weight:800;}
.chapter3_tit div:last-child{position: absolute;right:0}
.chapter3_tit div:last-child img{width:40%;float:right;vertical-align:top;}
.chapter3_tit div:last-child span:last-child{float:right;font-size:1rem;font-weight:bold;margin-top:10px}
.chap3_table{width:100%}
.chap3_table table{text-align:center;width:100%}
.chap3_table table td,.chap3_table table th{width:33%;font-size:1.1rem;color:#222;padding:1rem 0}
.chap3_table table th{background:#e6f0f9;font-weight:bold;}
.chap3_table table td{line-height:1.8rem;font-size:1rem;}
.chap3_table table td:nth-child(2){text-align:left;}
.chap3_table table tr:nth-child(even){background:#e6f0f9;}
.chap3_bg{float:left;margin-left:20px}
.chap3_bg::after{content:'';position: absolute;}
.btn_chapter3_table_open{text-align:center;margin-top:1.5rem;}
.btn_chapter3_table_open img{width:30px}
.chap3_pop{
	background:white;
	margin:0 auto;
	width:calc(100% - 3rem);
	position: fixed;
	z-index:999999;
	top:0;
	left:0%;
    padding:0 1.5rem;
    display: none;
    
}
.chap3_pop_menu{width:100%;margin-top:5rem;overflow: hidden;}
.chap3_pop_menu div:first-child{float:left;}
.chap3_pop_menu div:first-child ul li{float:left;display:inline-block;cursor: pointer;text-indent:-99999px;width:36px;height:36px}
.chap3_pop_menu div:first-child ul li:first-child{background:url('../images/img_chap3_pop_menu1.png') no-repeat;}
.chap3_pop_menu div:first-child ul li:nth-child(2){background:url('../images/img_chap3_pop_menu2.png') no-repeat;margin:0 5px}
.chap3_pop_menu div:first-child ul li:last-child{background:url('../images/img_chap3_pop_menu3.png') no-repeat;}
.chap3_pop_menu div:last-child{float:right;}
.chap3_pop_menu div:last-child select{border:1px solid #a1a5a8;color:#222;font-size:1rem;padding:4px 10px;width:7rem;
	-webkit-appearance:none;/*select 내부 스타일 제거 (화살표 제거)*/ 
	-moz-appearance:none; 
	-o-appearance:none; 
	appearance:none; 
	background:url('../images/bg_chap3_select.png')no-repeat center right 20px;
}
.chap3_pop_list{width:100%;margin-top:2rem;overflow-y:scroll;}
.chap3_pop_list dt img{width:6.7rem;margin-right:2rem}
.chap3_pop_list dt span{display:table-cell;vertical-align:middle;color:#222;font-size:1.2rem;font-weight:bold;}
.chap3_pop_list dl{border-bottom:1px solid #e7eaee;width:100%;margin-bottom:30px;cursor: pointer;overflow: hidden;}
.chap3_pop_list dt{float:left;display:table;}
.chap3_pop_list dd{float:left;color:#222;font-size:1rem;line-height:2rem;width:100%;margin-top:1rem;padding-bottom:2rem
}
.chap3_pop_list dd span{display:block;font-size:23px;margin-bottom:10px;margin-top:0px}
.chap3_pop_close_btn{position: absolute;top:20px;right:20px;cursor: pointer;}
/* chapter3 */
/* chapter4 */
.chapter4{position: relative;padding-top:3rem}
.chapter4 h2{font-size:2.5rem;color:#00dce2;font-family:'Poppins' !important;font-weight:800;width:calc(100% - 3rem);padding:0 1.5rem}
.chap4_tab_wrap{clear: both;overflow: hidden;width:calc(100% - 3rem);padding:0 1.5rem}
.swiper-slide div:first-child img,.tab_wrap .chap4_char_info div:last-child img{width:100%}
.chap4_tab_wrap ul{width:100%;margin-top:2rem;}
/*
.chap4_tab_wrap ul li{text-align:center;display: inline-block;font-size:1.1rem;color:#b7c5d5;cursor: pointer;padding-bottom:10px;width:24%}
*/
.chap4_tab_wrap ul li{text-align:center;display: inline-block;font-size:1.1rem;color:#b7c5d5;cursor: pointer;padding-bottom:10px;width:33%}
.chap4_tab_wrap ul li a{color:#b7c5d5;}
.chap4_tab_wrap ul li a{position: relative;}
.chap4_tab_wrap ul li a.on{color:#222;background-image: linear-gradient(transparent calc(100% - 2px), #1fd9de 2px);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	transition: background-size 1s;font-weight:bold;
}
.tab_wrap{overflow: hidden;margin-top:3rem;position: relative;}
.tab_wrap .chap4_char_info{clear: both;width:100%;letter-spacing:-1px;}
.tab_wrap .chap4_char_info{width:calc(100% - 3rem);padding:0 1.5rem;margin-top:4rem}
.tab_wrap .chap4_char_info h3{margin-bottom:2rem}
.tab_wrap .chap4_char_info h3 img{height:1.9rem;}
.tab_wrap .chap4_char_info .chap4_char_info_voice{font-size:1.2rem}
.tab_wrap .chap4_char_info .chap4_char_info_voice span{font-weight:bold;background:url('../images/bg_chap4_info_voice_line.png') right 7px no-repeat;padding-right:10px;margin-right:10px;}
.tab_wrap .chap4_char_info div:last-child{margin-top:2rem;font-size:1rem;color:#222;line-height:2rem;letter-spacing:-1px;}
.tab_wrap .chap4_char_info div:last-child img{margin-top:3rem;display:block;}

.swiper-button-prev{position:absolute;background:url(../images/btn_chap4_slide_prev_on.png) no-repeat;top:15rem;outline-style:none;}
.swiper-button-prev::after{content: '';}
.swiper-button-next::after{content: '';}
.swiper-button-next{position:absolute;background:url(../images/btn_chap4_slide_next_on.png) no-repeat;top:15rem;outline-style:none;}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{content:'' !important;background:url(../images/btn_chap4_slide_prev_on.png) no-repeat;}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{content:'' !important;background:url(../images/btn_chap4_slide_next_on.png) no-repeat;}
.swiper-button-next, .swiper-button-prev{width:2.5rem !important;height:2.5rem;background-size:contain !important;top:20% !important}
.swiper-button-prev.swiper-button-disabled{content:'' !important;background:url(../images/btn_chap4_slide_prev_off.png) no-repeat;opacity:1 !important;}
.swiper-button-next.swiper-button-disabled{content:'' !important;background:url(../images/btn_chap4_slide_next_off.png) no-repeat;opacity:1 !important;}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{content:'' !important;background:url(../images/btn_chap4_slide_prev_off.png) no-repeat;opacity:1 !important;}
.chap4_visual{width:calc(100% - 3rem);padding:0 1.5rem;margin:2.5rem auto 0 auto;z-index:2;position: relative;background:url('../images/bg_chap4_video.png') left 80% bottom no-repeat;padding-bottom:9.8rem}
.chap4_visual .chap2_video{width:100%;}
.chap4_visual .chap2_sub_video_btn{position: absolute;z-index:3;top:1rem;right:2rem}
/* chapter4 */
/* chapter5 */
.chapter5{position: relative;width:calc(100% - 3rem);padding:3rem 1.5rem 2rem 1.5rem}
.chapter5 h2{font-size:3.5rem;color:#00dce2;font-family:'Poppins' !important;font-weight:800;}
.tabs_chap5{margin-top:3rem;}
.tabs_chap5 li{font-size:1.2rem;float:left;color:#b7c5d5;font-family:'Poppins' !important;}
.tabs_chap5 li.on,.chap5_tab_wrap .tabs_chap5 li:hover{color:#222;background-image: linear-gradient(transparent calc(100% - 2px), #1fd9de 2px);font-weight:bold;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	transition: background-size 1s;
}
.tabs_chap5 li:first-child{margin-right:2rem;}
.chap5_tab_wrap{clear: both;width:100%;overflow: hidden;}
.tab_content_chap5 li{color:#222;font-size:1.1rem;line-height:2rem;}
.tab_content_chap5 h3{color:#222;font-size:1.1rem;font-weight:bold;margin-bottom:1.5rem;margin-top:3rem}
.tab_content_chap5 h3:first-child{margin-top:0rem;}
.btn_chapter5_open{font-size:1.1rem;color:#222;margin-top:3rem}
.btn_chapter5_open img{width:1.8rem;margin-left:1rem}

.chap5_pop_list{
	background:white;
	margin:0 auto;
	width:calc(100% - 3rem);
	position: fixed;
	z-index:999999;
	top:0;
	left:0%;
    padding:0 1.5rem;
    display: none;
}
.chap5_pop_list h3{margin-top:3.5rem !important;text-align:center;}
.chap5_pop_list li{text-align:center;}
.chap5_pop_close_btn{position: absolute;top:20px;right:20px;cursor: pointer;}

/* chapter5 */
/* chapter6 */
.chapter6{position: relative;width:calc(100% - 3rem);padding:3rem 1.5rem 2rem 1.5rem}
.chapter6 h2{font-size:3.5rem;color:#00dce2;font-family:'Poppins' !important;font-weight:800;}
.tabs_chap6{margin-top:3rem;}
.tabs_chap6 li{font-size:1.2rem;float:left;color:#b7c5d5;font-family:'Poppins' !important;}
.tabs_chap6 li.on,.chap5_tab_wrap .tabs_chap5 li:hover{color:#222;background-image: linear-gradient(transparent calc(100% - 2px), #1fd9de 2px);font-weight:bold;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	transition: background-size 1s;
}
.tabs_chap6 li:first-child{margin-right:2rem;}
.chap6_tab_wrap{clear: both;width:100%;overflow: hidden;}
.chap6_tit{color:#222;font-size:1.2rem;font-family: 'Poppins';}
.chap6_tit span{font-weight:bold;font-size:2.2rem;display: block;}
.btn_chap6_play{font-size:1.25rem;font-weight:bold;color:#222;margin-top:2rem}
.btn_chap6_play img{width:3.3rem;margin-left:0.5rem;}
.chap6_bg{background:url('../images/Untitled-1bg_chap6_musicplayer.png') no-repeat;width:100%;height:198.5px;background-size:contain;display:block;}
.chap6_bg div{float:left;margin-left:1.5rem;margin-top:110px}
.chap6_bg div p:first-child{font-family: 'Poppins';font-size:1.2rem;color:#1fd9de}
.chap6_bg div p:nth-child(2),.chap6_bg div p:nth-child(3){color:white;font-size:.8rem}
.chap6_m_info{margin-top:1rem;color:#222}
.chap6_m_info p{font-size:1rem;line-height:1.8rem;}
.chap6_m_info p:first-child{font-weight:bold;margin-bottom:1rem}
.chap6_m_info p:nth-child(3) span{color:#717f8f}
.chap6_m_info p:nth-child(4){margin-top:1rem}
/* chapter6 */
.chapter7{width:100%;position: relative;}
.chapter7_logo,.chapter7_tit1,.chapter7_tit_sub,.chap7_video_sub,.chap7_detail{position: absolute;z-index:2;width:100%;}
.chapter7_logo{height:7.85rem;background:url('../images/bg_logo.png') center top no-repeat;top:5rem;background-size:contain;}
.chapter7_tit1{height:4.65rem;background:url('../images/img_chapter1_tit1.png') center top no-repeat;top:14rem;background-size:contain;}
.chap7_video video{object-fit:cover;width:100%;height:110vh;}
.chap7_video::after{background:black;content:'';position: absolute;top:0;left:0;width:100%;opacity:.6;z-index:1;height:110vh;}
.chapter7_tit_sub{color:white;top:19rem;text-align:center;}
.chapter7_tit_sub p{line-height:1.75rem}
.chapter7_tit_sub p span{font-weight:bold;}
.chap7_video_sub{height:5rem;background:url('../images/btn_chap1_video_sub.png') center top no-repeat;background-size:contain;top:25.5rem;}
.chap7_detail{height:8.25rem;background:url('../images/btn_chap1_detail.png') center top no-repeat;background-size:contain;top:34.5rem}
.chap7_video_sub_show{width:80%;position: absolute;z-index:9999;display:none;top:50%}
.chap7_video_sub_show div{float:right;cursor: pointer;margin-bottom:10px;transition: all ease 1s;}
.chap7_video_sub_show div img{width:70%}
.chap7_appdown_btn{text-align:center;width:calc(100% - 3rem);padding:0 1.5rem;position: absolute;bottom:5rem;z-index:2;}
.chap7_appdown_btn li{display:inline-block;float:left;width:50%}
.chap7_appdown_btn li img{width:100%}
.chap7_appdown_btn li:first-child{float:left;}
.chap7_appdown_btn li:last-child{float:right}


footer{width:100%;background:#111112;padding:2rem 0;text-align:center;margin-top:-1rem}
address{color:#90929b;font-size:0.7rem;font-family:'Poppins';}
address img{vertical-align: middle;margin-right:10px;width:3rem;}
@media only screen and (min-device-width : 320px) and (max-device-width : 321px){ 
    .chapter1_logo{height:6.85rem;top:5rem;}
    .chapter1_tit1{height:3.65rem;top:13rem;}
    .chapter1_tit_sub{top:18rem;}
    .chap1_video_sub{height:4rem;top:24.5rem}
    .chap1_detail{height:6.5rem;top:28rem}
    .nav{width:70%;left:-70%}
    .chap4_tab_wrap ul li{width:50%;font-size:1rem;letter-spacing:-2px;text-align:left;float:left;}
    .chap4_tab_wrap ul li:nth-child(3){clear: both;margin-top:1rem}
    .chap4_tab_wrap ul li:nth-child(3){float:left;}
    .chap4_tab_wrap ul li:nth-child(4){float:left;margin-top:1rem}
}
@media only screen and (min-device-width : 360px) and (max-device-width : 361px){ 
    .chapter1_logo{height:6.85rem;top:5rem;}
    .chapter1_tit1{height:3.65rem;top:13rem;}
    .chapter1_tit_sub{top:18rem;}
    .chap1_video_sub{height:5rem;top:25rem}
    .chap1_detail{height:7.5rem;top:30rem}
    .chap4_tab_wrap ul li{font-size:1rem;letter-spacing:-2px;}
    .chap4_tab_wrap ul li:nth-child(1){width:24%;text-align:center;}
    .chap4_tab_wrap ul li:nth-child(2){width:50%;text-align:center;}
    .chap4_tab_wrap ul li:nth-child(3){width:24%;text-align:center;}
    /*
    .chap4_tab_wrap ul li{width:50%;font-size:1.1rem;letter-spacing:-2px; text-align:left;float:left;}
    .chap4_tab_wrap ul li:nth-child(3){clear: both;margin-top:1rem}
    .chap4_tab_wrap ul li:nth-child(3){float:left;}
    .chap4_tab_wrap ul li:nth-child(4){float:left;margin-top:1rem}*/
    .chap6_bg{background:url('../images/Untitled-1bg_chap6_musicplayer.png') no-repeat;width:100%;height:210px;background-size:contain;display:block;}
    .chap6_bg div{float:left;margin-left:1rem;margin-top:130px}
    .chapter7_logo{height:7.85rem;background:url('../images/bg_logo.png') center top no-repeat;top:6rem;background-size:contain;}
    .chapter7_tit1{height:4.65rem;background:url('../images/img_chapter1_tit1.png') center top no-repeat;top:16rem;background-size:contain;}
    .chapter7_tit_sub{color:white;top:23rem;text-align:center;}
    .chap7_video_sub{height:5rem;background:url('../images/btn_chap1_video_sub.png') center top no-repeat;background-size:contain;top:30rem;}
}
@media only screen and (min-device-width : 375px) and (max-device-width : 376px) { 
    .chapter1_logo{height:7.85rem;top:5rem;}
    .chapter1_tit1{height:4.65rem;top:14.5rem;}
    .chapter1_tit_sub{top:21rem;}
    .chap1_video_sub{height:5rem;top:28rem}
    .chap1_detail{height:7.5rem;top:33rem}
    /*
    .chap4_tab_wrap ul li{font-size:0.9rem;letter-spacing:-2px;float:left;}
    .chap4_tab_wrap ul li:nth-child(1){text-align:left;width:15%;}
    .chap4_tab_wrap ul li:nth-child(2){width:45%;}
    .chap4_tab_wrap ul li:nth-child(3){width:20%;}
    .chap4_tab_wrap ul li:nth-child(4){width:20%;}*/
    .chap4_tab_wrap ul li{font-size:1rem;letter-spacing:-2px;}
    .chap4_tab_wrap ul li:nth-child(1){width:24%;text-align:center;}
    .chap4_tab_wrap ul li:nth-child(2){width:50%;text-align:center;}
    .chap4_tab_wrap ul li:nth-child(3){width:24%;text-align:center;}
    .chapter7_logo{height:7.85rem;background:url('../images/bg_logo.png') center top no-repeat;top:6rem;background-size:contain;}
    .chapter7_tit1{height:4.65rem;background:url('../images/img_chapter1_tit1.png') center top no-repeat;top:16rem;background-size:contain;}
    .chapter7_tit_sub{color:white;top:23rem;text-align:center;}
    .chap7_video_sub{height:5rem;background:url('../images/btn_chap1_video_sub.png') center top no-repeat;background-size:contain;top:30rem;}
}
@media only screen and (min-device-width : 411px) and (max-device-width : 425px) { 
    /*.chap4_tab_wrap ul li{font-size:1rem;letter-spacing:-2px;float:left;}
    .chap4_tab_wrap ul li:nth-child(1){text-align:left;width:15%;}
    .chap4_tab_wrap ul li:nth-child(2){width:45%;}
    .chap4_tab_wrap ul li:nth-child(3){width:20%;}
    .chap4_tab_wrap ul li:nth-child(4){width:20%;}*/
    .chap4_tab_wrap ul li{font-size:1.1rem;letter-spacing:-2px;}
    .chap4_tab_wrap ul li:nth-child(1){width:24%;text-align:center;}
    .chap4_tab_wrap ul li:nth-child(2){width:50%;text-align:center;}
    .chap4_tab_wrap ul li:nth-child(3){width:24%;text-align:center;}
    .chap6_bg{background:url('../images/Untitled-1bg_chap6_musicplayer.png') no-repeat;width:100%;height:250px;background-size:contain;display:block;}
    .chap6_bg div{float:left;margin-left:1rem;margin-top:170px}
    .chapter7_logo{height:7.85rem;background:url('../images/bg_logo.png') center top no-repeat;top:7rem;background-size:contain;}
    .chapter7_tit1{height:4.65rem;background:url('../images/img_chapter1_tit1.png') center top no-repeat;top:17rem;background-size:contain;}
    .chapter7_tit_sub{color:white;top:24rem;text-align:center;}
    .chap7_video_sub{height:5rem;background:url('../images/btn_chap1_video_sub.png') center top no-repeat;background-size:contain;top:33rem;}
    .chap7_appdown_btn{text-align:center;width:calc(100% - 3rem);padding:0 1.5rem;position: absolute;bottom:7rem}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px){ 
    .chapter1_logo{height:10rem;top:7rem;}
    .chapter1_tit1{height:7rem;top:19rem;}
    .chapter1_tit_sub{top:29rem;}
    .chapter1_tit_sub p{line-height:3.5rem}
    .chap1_video_sub{height:7rem;top:42rem}
    .chap1_detail{height:10rem;top:49rem}
    .fs_1_25{font-size:2.5rem !important}
    .chap2_story1,.chap2_story2{padding:0 1.5rem;color:#222;font-size:1.8rem;line-height:1.8rem}
    .swiper-button-prev{position:absolute;background:url(../images/btn_chap4_slide_prev_on.png) no-repeat;top:25rem !important;outline-style:none;}
    .swiper-button-next{position:absolute;background:url(../images/btn_chap4_slide_next_on.png) no-repeat;top:25rem !important;outline-style:none;}
    .chap6_bg{background:url('../images/Untitled-1bg_chap6_musicplayer.png') no-repeat;width:100%;height:490px;background-size:contain;display:block;}
    .chap6_bg div{float:left;margin-left:1rem;margin-top:410px}

    .chapter7_logo{height:7.85rem;background:url('../images/bg_logo.png') center top no-repeat;top:9rem;background-size:contain;}
    .chapter7_tit1{height:4.65rem;background:url('../images/img_chapter1_tit1.png') center top no-repeat;top:19rem;background-size:contain;}
    .chapter7_tit_sub{color:white;top:27rem;text-align:center;}
    .chapter7_tit_sub p{line-height:3.4rem;}
    .chap7_video_sub{height:5rem;background:url('../images/btn_chap1_video_sub.png') center top no-repeat;background-size:contain;top:42rem;}
    .chap7_appdown_btn{text-align:center;width:calc(100% - 3rem);padding:0 1.5rem;position: absolute;bottom:9rem}
}
@media only screen and (min-device-width : 1024px){ 
    .chapter1_logo{height:15.7rem;top:10rem;}
    .chapter1_tit1{height:9.3rem;top:29rem;}
    .chapter1_tit_sub{top:41rem;}
    .chapter1_tit_sub p{line-height:3.5rem}
    .chap1_video_sub{height:7rem;top:56rem}
    .chap1_detail{height:16rem;top:61rem}
    .fs_1_25{font-size:2.5rem !important}
    .chap2_story1,.chap2_story2{padding:0 1.5rem;color:#222;font-size:2.4rem;line-height:2.4rem}
    .swiper-button-prev{position:absolute;background:url(../images/btn_chap4_slide_prev_on.png) no-repeat;top:35rem !important;outline-style:none;}
    .swiper-button-next{position:absolute;background:url(../images/btn_chap4_slide_next_on.png) no-repeat;top:35rem !important;outline-style:none;}
    .chap6_bg{background:url('../images/Untitled-1bg_chap6_musicplayer.png') no-repeat;width:100%;height:670px;background-size:contain;display:block;}
    .chap6_bg div{float:left;margin-left:1rem;margin-top:560px}
    .chap6_bg div p:first-child{font-family: 'Poppins';font-size:1.4rem;color:#1fd9de}
    .chap6_bg div p:nth-child(2),.chap6_bg div p:nth-child(3){color:white;font-size:1.2rem}
    .chap7_video video{object-fit:cover;width:100%;height:100vh;}
    .chap7_video::after{background:black;content:'';position: absolute;top:0;left:0;width:100%;opacity:.6;z-index:1;height:100vh;}
    .chapter7_logo{height:15.7rem;top:10rem;}
    .chapter7_tit1{height:9.3rem;top:29rem;}
    .chapter7_tit_sub{top:41rem;}
    .chapter7_tit_sub p{line-height:3.5rem}
    .chap7_video_sub{height:7rem;top:56rem}
    .chap7_appdown_btn{text-align:center;width:calc(100% - 3rem);padding:0 1.5rem;position: absolute;bottom:10rem}
}



@media only screen and (device-width : 568px){
    .chapter1_tit_sub,.chap1_video_sub,.chap1_detail{display:none;}
}
@media only screen and (device-width : 667px){
    .chapter1_tit_sub,.chap1_video_sub,.chap1_detail{display:none;}
}
@media only screen and (device-width : 736px){
    .chapter1_tit_sub,.chap1_video_sub,.chap1_detail{display:none;}
}
@media only screen and (device-width : 812px){
    .chapter1_tit1,.chapter1_tit_sub,.chap1_video_sub,.chap1_detail{display:none;}
}

/* iPads (landscape) ———– */ 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
    .chapter1_tit_sub,.chap1_video_sub,.chap1_detail{display:none;}
} 
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) { 
    .chap1_video_sub,.chap1_detail{display:none;}
} 